@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Gupter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Gupter:wght@400;500;700&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Gupter:wght@400;500;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
  transition-duration: 0.5s;
}
@media only screen and (min-width: 1280px) {
  #Cover {
    background-image: url(image/bg.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 50vh;
  }
}
@media only screen and (min-width: 992px) {
  #Cover {
    background-image: url(image/bg.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: white;
  }

  #main {
    padding: 0px;
  }
  #Cover .text {
  }
  #Cover h6 {
    font-family: gupter static;
    color: black;
    text-align: center;
    font-size: 20px;
  }
  #Cover p {
    font-family: poppins;
    text-align: center;
    font-size: 20px;
    color: black;
  }
  #Cover h1 {
    font-family: dancing script;
    text-align: center;
    font-size: 50px;
    color: #921a40;
  }
  #Cover h3 {
    font-family: dancing script;
    text-align: center;
    font-size: 20px;
    color: #000;
  }
  .button1 {
    background-color: #c05050;
    border-radius: 20px;
    border: none;
    color: black;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: poppins;
  }
  .button1:hover {
    background-color: #f08080;
    color: white;
  }
  nav {
    background-color: #f08080;
    overflow: hidden;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  nav li {
    float: left;
  }
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  nav li a:hover {
    background-color: #f4d9d0;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #main {
    padding: 0px;
    background-image: url(image/bg1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  /*COVER*/
  #Cover {
    background-image: url(image/bg.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 100vh;
  }
  #Cover .elemen1 {
    position: relative;
    margin-top: 10px;
    height: 200px;
    width: 150px;
    left: 35px;
  }
  #Cover .elemen2 {
    height: 200px;
    width: 150px;
    position: absolute;
    right: 45px;
  }
  #Cover h6 {
    font-family: gupter static;
    color: black;
    text-align: center;
    font-size: 25px;
  }
  #Cover h6 {
    font-family: gupter static;
    color: black;
    text-align: center;
    font-size: 20px;
  }
  #Cover p {
    font-family: poppins;
    text-align: center;
    font-size: 17px;
    color: black;
  }
  #Cover h1 {
    font-family: dancing script;
    text-align: center;
    font-size: 45px;
    color: #921a40;
  }
  #Cover h3 {
    font-family: dancing script;
    text-align: center;
    font-size: 20px;
    color: #000;
    margin-bottom: 40px;
  }
  .button1 {
    background-color: #c05050;
    border-radius: 20px;
    border: none;
    color: black;
    margin-top: 35px;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: poppins;
  }
  .button1:hover {
    background-color: #f08080;
    color: white;
    box-shadow: 0px 4px 10px #f4d9d0;
  }
}

/*Navbar*/
#nav {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 5vh;
  width: 100%;
  z-index: 5;
}

#nav ul {
  background-color: #f08080;
  padding: 0;
  display: flex;
  list-style: none;
  border-radius: 10px;
}

#nav ul li {
  display: inline-block;
  margin: 0;
  padding: 5px 10px;
}

#nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav ul li:hover {
  background-color: #f4d9d0;
  border-radius: 7px;
}

#nav ul li a:hover {
  color: white;
}

#ctrlmusik {
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: 10vh;
  right: 1vw;
  z-index: 5;
}

#imgmusik {
  width: 100%;
}
/*qoutes*/
.ornamen1 {
  width: 200px;
  margin-top: 10px;
  position: relative;
  margin-left: -15px;
  padding-bottom: 60px;
}
.ornamen2 {
  width: 200px;
  margin-left: -15px;
  position: relative;
  transform: scaleY(-1);
  margin-top: 100px;
}
.qoutes {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
}
.pquotes {
  font-size: 18px;
  font-family: Noto Kufi Bahasa Arab;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
}
.pengantin h2 {
  margin-top: 20px;
  text-align: center;
  font-size: 100px;
}
.nama-pengantin {
  font-family: Dancing Script;
  font-size: 30px;
}
.frame {
  height: 35vh;
}
.bg-size {
  margin: 1rem;
  height: 35vh;
  border-radius: 20px;
}
i {
  color: black;
}
i:hover {
  color: rgb(119, 123, 175);
}
.detail-txt {
  text-align: center;
}

iframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 10px;
}
.event {
  margin-bottom: 20px;
  width: 350px;
  background-color: #f1eedc;
  border-radius: 5%;
}
a {
  text-decoration: none;
  color: white;
}
.text-event {
  margin-top: 150px;
  margin-bottom: 30px;
  font-family: Outfit;
  font-size: 30px;
  position: relative;
  z-index: 0;
}
.text-event1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Outfit;
  font-size: 30px;
  position: relative;
  z-index: 0;
}
.details {
  display: flex;
  margin: 15px;
  margin-top: 15px;
  align-items: center;
  margin-bottom: 20px;
  font-family: Josefin Sans;
}
.button {
  background-color: #c05050;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Josefin Sans;
  margin-bottom: 20px;
}
.button:hover {
  background-color: #f08080;
  color: white;
}
.map-container {
  position: relative;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
}
#gallery h2 {
  font-family: Outfit;
  font-size: 30px;
}
.gallery {
  overflow: hidden;
}
.gallery-track {
  margin-top: 16px;
  display: flex;
  width: calc(100% * 5);
  animation: moveGallery 29s linear infinite;
  overflow: hidden;
}
.gallery-track img {
  width: 10%;
  transition: transform 0.5s ease;
  border-radius: 10px;
  margin: 10px;
}
.gallery-track img:hover {
  transform: scale(1.1);
  border-radius: 10px;
  margin: 10px;
}
@keyframes moveGallery {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
video {
  height: 100%;
  width: 100%;
}
/* Table */
.container {
  width: 90%;
  margin: 50px auto;
  max-width: 1200px;
  text-align: center;
}

h2 {
  font-size: 2rem;
  color: black;
  margin-bottom: 30px;
  font-size: 30px;
}

.daftar-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.daftar-table thead {
  background-color: #f08080;
  color: white;
}

.daftar-table th,
.daftar-table td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #ffeae3;
}

.daftar-table th {
  font-size: 1.1rem;
}

.daftar-table tbody tr:nth-child(even) {
  background-color: #ffeae3;
}

.daftar-table tbody tr:hover {
  background-color: #ffeae3;
  cursor: pointer;
}

.daftar-table tbody td {
  font-size: 1rem;
  color: #000;
}

@media (max-width: 768px) {
  .guest-table th,
  .guest-table td {
    padding: 0px 0px;
    font-size: 0.9rem;
  }
}
.formulir {
  background: #c1a17f;
  padding: 30px 0;
}

.rsvp {
  padding: 10px;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  box-sizing: border-box;
  text-align: left;
}
form {
  display: grid;
  gap: 15px;
}
h2 {
  margin-bottom: 20px;
  text-align: center;
  font-family: Outfit;
  font-size: 30px;
}
label {
  display: block;
  margin-bottom: 5px;
}
input[type="text"],
input[type="number"],
input[type="email"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea {
  width: 100%;
  height: 120px;
  padding: 8px;
  border: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  resize: none;
}
fieldset {
  border: 5px;
  border-radius: 5px;
  padding: 10px;
}
legend {
  font-weight: bold;
}
button {
  background-color: #c05050;
  color: black;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-family: poppins;
}
button:hover {
  background-color: #f08080;
  color: white;
}
#story {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px;
  border-radius: 8px;
  font-family: Outfit;
  text-align: center;
}
#story h3 {
  color: #000;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 100px;
}
#story img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  border-radius: 8px;
}
#story iframe {
  margin-top: 50px;
  position: relative;
  overflow: hidden;
  width: 350px;
  height: 250px;
  border-radius: 8px;
}
#story p {
  font-size: 18px;
  color: #000;
  margin: 10px 0 30px 0;
  font-family: Josefin Sans;
}
#story p:last-of-type {
  margin-bottom: 0;
}
.container {
  width: 90%;
  margin: 50px auto;
  max-width: 1200px;
  text-align: center;
}
h2 {
  font-size: 2rem;
  color: #000;
  margin-bottom: 20px;
}
p {
  color: #000;
  font-size: 1.1rem;
}
.pilihan {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 10px;
}

.card-hadiah {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;

  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card-hadiah:hover {
  transform: translateY(-5px);
}
#hadiah h2 {
  font-size: 30px;
}
h3 {
  font-size: 1.5rem;
  color: #000;
  margin: 10px;
}

.qr-code {
  width: 100px;
  height: 100px;
  margin-top: 10px;
}

.copy-btn {
  margin-bottom: 10px;
  margin-top: 20px;
  background-color: #c05050;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.copy-btn:hover {
  background-color: #f08080;
}
.container {
  width: 90%;
  margin: 50px auto;
  max-width: 600px;
  text-align: center;
}

h2 {
  font-size: 30px;
  color: #000;
  margin-bottom: 20px;
}

p {
  color: #000;
  font-size: 1.1rem;
  /* margin-bottom: 30px; */
}

.form-pesan {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-grup {
  margin-bottom: 20px;
  text-align: left;
}

label {
  font-size: 1.1rem;
  color: #000;
  margin-bottom: 8px;
  display: block;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 5px;
}

input[type="text"]:focus,
textarea:focus {
  border-color: #28a745;
  outline: none;
}

textarea {
  resize: none;
}

.submit-btn {
  background-color: #c05050;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.submit-btn:hover {
  background-color: #f08080;
}
#closing h1 {
  font-family: Outfit;
  font-size: 20px;
}
#closing p {
  font-family: Outfit;
  font-size: 20px;
  padding-bottom: 120px;
}
.closing-img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  border-radius: 8px;
}
/* No-Scroll Class */
.no-scroll {
  overflow: hidden;
  height: 100vh;
}
